<div fxFlexFill fxLayout="column">
  <mat-toolbar fxFlex="40px" color="primary">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex="grow">BMS Mobile</span>
    <span style="font-size: 12px">{{ availableSpace }}</span>
    <button mat-icon-button>
      <ng-container *ngIf="isOnline$ | async; else showOffline">
        <mat-icon>wifi</mat-icon>
      </ng-container>
      <ng-template #showOffline>
        <mat-icon>
          wifi_off
        </mat-icon>
      </ng-template>
    </button>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>

  <mat-tab-group fxFlexFill style="overflow: auto">

    <mat-tab label="Schadenserfassung">
      <div fxFlex fxLayout="column" style="padding: 12px">
        <div [formGroup]="form" fxLayout="column" fxLayoutGap="12px">

          <mat-form-field fxFlex>
            <mat-label>Titel</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>

          <div fxFlex fxLayout="row" fxLayoutGap="12px">
            <button type="button" mat-raised-button (click)="cameraInput.click()">Bild aufnehmen</button>
            <input hidden #cameraInput type="file" #frontCameraInput (change)="setFile($event)" accept="image/*"
                   capture="environment"/>

            <button type="button" mat-raised-button (click)="fileInput.click()">Bild auswählen</button>
            <input hidden #fileInput type="file" #imageFileInput (change)="setFile($event)" accept="image/*"/>

            <button type="button" mat-raised-button (click)="returnPathDirectories()">Bild auswählen (File API)</button>

          </div>

          <div fxFlex fxLayoutAlign="center">
            <div fxFlex *ngIf="!videoCapable">Access to camera denied</div>
            <video fxFlex width="100%" *ngIf="videoCapable && !pictureTaken" #video autoplay></video>
            <canvas fxFlex [fxHide]="!pictureTaken" #canvas width="100%"></canvas>
          </div>

          <div fxFlex fxLayoutGap="12px">
            <button *ngIf="videoCapable" mat-raised-button (click)="captureImage()">Bild aufnehmen</button>
            <a *ngIf="pictureTaken" mat-flat-button href="{{downloadLink}}" download="image.png"><i
              class="fa fa-download"></i>
              Download</a>
          </div>

          <mat-form-field>
            <mat-label>Anzahl</mat-label>
            <input matInput formControlName="count" placeholder="Wie oft soll der Schaden hinterlegt werden?">
          </mat-form-field>

          <mat-divider></mat-divider>

          <div fxFlex>
            <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="save()">Speichern</button>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Schadensliste">
      <ng-container *ngIf="schaeden$ | async as schaeden">

        <ng-template mat-tab-label>
          <div>Schadensliste ({{ schaeden.length}})</div>
        </ng-template>

        <div fxLayout.gt-lg="row" fxLayout.sm="column">
          <div fxFlex="50%" fxLayout="column" style="padding: 12px">
            <mat-nav-list>
              <mat-list-item *ngFor="let schaden of schaeden">
                <a matLine (click)="onSelect(schaden)">{{ schaden.title }}</a>
                <button mat-icon-button (click)="deleteSchaden(schaden.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-nav-list>
          </div>

          <div fxFlex="50%" fxLayout="column" style="padding: 12px">
            <ng-container *ngIf="selected">
              <span>{{ selected.title}}</span>
              <img *ngIf="selected.bild" [src]="getAsDataURL(selected.bild)">
            </ng-container>
          </div>
        </div>

      </ng-container>
    </mat-tab>

    <mat-tab label="Übersichtsplan">
      <ng-template matTabContent>
        <div style="height: 400px">
          <div leaflet style="height: 400px" fxFlexFill
               leafletDraw
               (leafletMapReady)="onMapReady($event)"
               [leafletOptions]="options"
               [leafletDrawOptions]="drawOptions"
               (leafletDrawCreated)="onDrawCreated($event)">
            <div [leafletLayer]="drawnItems"></div>
          </div>
        </div>
      </ng-template>


    </mat-tab>
  </mat-tab-group>
</div>


