<div fxFlexFill fxLayout="row" fxLayoutGap="32px" style="padding: 32px">
  <div fxFlex="50%" fxLayout="column">
    <h1>Schadenserfassung</h1>
    <div [formGroup]="form" fxLayout="column" fxLayoutGap="12px">

      <mat-form-field fxFlex>
        <mat-label>Titel</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <div fxFlex fxLayoutAlign="center">
        <div fxFlex *ngIf="!videoCapable">Access to camera denied</div>
        <video fxFlex width="100%" *ngIf="videoCapable && !pictureTaken" #video1 autoplay></video>
        <canvas fxFlex [fxHide]="!pictureTaken" #canvas1 width="100%"></canvas>
      </div>

      <div fxFlex fxLayoutGap="12px">
        <button *ngIf="videoCapable" mat-raised-button (click)="captureImage()">Bild aufnehmen</button>
        <a *ngIf="pictureTaken" mat-flat-button href="{{downloadLink}}" download="image.png"><i class="fa fa-download"></i>
          Download</a>
      </div>

      <mat-form-field>
        <mat-label>Anzahl</mat-label>
        <input matInput formControlName="count" placeholder="Wie oft soll der Schaden hinterlegt werden?">
      </mat-form-field>

      <mat-divider></mat-divider>

      <div fxFlex>
        <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="save()">Speichern</button>
      </div>
    </div>
  </div>

  <div fxFlex="50%" fxLayout="column">
    <ng-container *ngIf="schaeden$ | async as schaeden">
      <h1>Schadensliste ({{ schaeden.length}})</h1>
      <mat-selection-list [multiple]="false" style="overflow: auto">
        <mat-list-option *ngFor="let schaden of schaeden" [value]="schaden">
          <div fxFlex>
            <div fxFlexFill>{{schaden.title}}</div>
            <button fxFlex mat-icon-button (click)="deleteSchaden(schaden.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </mat-list-option>
      </mat-selection-list>
    </ng-container>
  </div>
</div>
