<div fxFlexFill fxLayout="column" style="background-color: lightblue">

  <button (click)="openDownloadForm()" mat-fab color="primary" class="bms-fab-main">
    <mat-icon>add</mat-icon>
  </button>

  <mat-toolbar fxFlex="8vh" color="primary">
    <span fxFlex="grow">BMS Mobile</span>
    <button [matTooltip]="(estimatedQuota$ | async) ?? ''" mat-icon-button>
      <mat-icon>storage</mat-icon>
    </button>
    <button mat-icon-button>
      <ng-container *ngIf="isOnline$ | async; else showOffline">
        <mat-icon [matTooltip]='"Internetverbindung hergestellt"'>wifi</mat-icon>
      </ng-container>
      <ng-template #showOffline>
        <mat-icon [matTooltip]='"Keine Internetverbindung"'>wifi_off</mat-icon>
      </ng-template>
    </button>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>

  <mat-tab-group fxFlex="92vh" headerPosition="below" [dynamicHeight]="true">

    <mat-tab bodyClass="full-height">
      <ng-template matTabLabel>
        <div fxLayout="column" fxLayoutAlign="center center">
          <mat-icon>maps_home_work</mat-icon>
          <span style="font-size: 10px">Oberfläche</span>
        </div>
      </ng-template>
      <div fxFlexFill fxLayout="column" fxLayoutGap="8px" style="padding: 12px">
        <app-bauwerkspruefung-list style="height: 100vh"
                                   [items]="bauwerkspruefungen$ | async"></app-bauwerkspruefung-list>
      </div>
    </mat-tab>

    <mat-tab fxFlexFill>

      <ng-container *ngIf="(schaeden$ | async) as schaeden">

        <ng-template matTabLabel>
          <div fxLayout="column" fxLayoutAlign="center center">
            <mat-icon>train
            </mat-icon>
            <span style="font-size: 10px" [matBadge]="unsyncedCount$ | async" matBadgeColor="warn" matBadgeSize="small"
                  matBadgeOverlap="false">U-Bahn</span>
          </div>
        </ng-template>

        <div fxFlexFill fxLayout="column" fxLayoutGap="8px" style="padding: 12px">
          <app-bauwerkspruefung-list style="height: 100vh"
                                     [items]="bauwerkspruefungen$ | async"></app-bauwerkspruefung-list>
        </div>
        <!-- Sync Speicher -->
        <!-- <div fxFlexFill fxLayout="column" fxLayoutGap="8px" style="padding: 8px">
          <div fxFlex fxLayout="column" fxLayoutAlign=" center center" fxLayoutGap="8px">
            <span style="font-size: 12px">{{ totalUnsyncedData$ | async }} unsynchronisierte Objekte</span>
            <span style="font-size: 12px">{{ estimatedQuota$ | async }}</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="center">
            <button [disabled]="(unsyncedCount$ | async) == 0" mat-raised-button color="primary"
                    (click)="schadenService.syncAllSchaeden()">Synchronisieren
            </button>
          </div>

          <div fxLayout.gt-lg="row" fxLayout.sm="column">
            <div fxLayout="column" style="padding: 12px">
              <mat-nav-list>
                <mat-list-item (click)="onSelect(schaden.id!!)" *ngFor="let schaden of schaeden">
                  <a matLine>{{ schaden.title }}</a>
                  <button mat-icon-button [disabled]="schaden.synced == 1"
                          (click)="schadenService.syncSchaden(schaden); $event.stopPropagation()">
                    <mat-icon
                      [color]="schaden.synced == 1 ? 'primary':'warn'">
                      {{ schaden.synced == 1 ? 'done' : 'sync_problem' }}
                    </mat-icon>
                  </button>
                  <button mat-icon-button (click)="schadenService.delete(schaden.id!!); $event.stopPropagation()">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-list-item>
              </mat-nav-list>
            </div>

          </div>
        </div>-->

      </ng-container>
    </mat-tab>

  </mat-tab-group>

</div>


